n8n/aislist_workflow.json
{
  "name": "AiSList GitHub Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-issues",
        "options": {
          "noResponseBody": false
        },
        "authentication": "headerAuth"
      },
      "name": "Webhook - GitHub Issues",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "github-aislist-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "opened"
            },
            {
              "value1": "={{ $json.issue.title }}",
              "operation": "contains",
              "value2": "Blocklist"
            }
          ]
        }
      },
      "name": "Filter - Only New AI Channel Reports",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract channel handle and video URL from issue body\nconst body = $json.issue.body || '';\nconst issueNumber = $json.issue.number;\nconst issueUrl = $json.issue.html_url;\n\n// Extract channel handle\nconst channelMatch = body.match(/@[\\w-]+/) || body.match(/youtube\\.com\\/(@[\\w-]+)/);\nconst channelHandle = channelMatch ? channelMatch[0] : null;\n\n// Extract video URL\nconst videoMatch = body.match(/youtube\\.com\\/watch\\?v=([\\w-]+)/) || \n                   body.match(/youtu\\.be\\/([\\w-]+)/);\nconst videoId = videoMatch ? videoMatch[1] : null;\nconst videoUrl = videoId ? `https://youtube.com/watch?v=${videoId}` : null;\n\n// Determine confidence level\nconst hasHighConfidence = body.toLowerCase().includes('high') || \n                          body.toLowerCase().includes('confidence: high');\n\nreturn {\n  issue_number: issueNumber,\n  issue_url: issueUrl,\n  channel_handle: channelHandle,\n  video_url: videoUrl,\n  confidence: hasHighConfidence ? 'high' : 'medium',\n  issue_title: $json.issue.title\n};"
      },
      "name": "Parse Issue Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/analyze",
        "options": {
          "timeout": 300000
        },
        "bodyParametersJson": "={{ JSON.stringify({ video_url: $json.video_url, max_frames: 100 }) }}"
      },
      "name": "Call AI Detection API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "issue",
        "operation": "createComment",
        "owner": "Override92",
        "repository": "AiSList",
        "issueNumber": "={{ $('Parse Issue Data').item.json.issue_number }}",
        "body": "## 🤖 AI Detection Analysis\\n\\n**Channel:** {{ $('Parse Issue Data').item.json.channel_handle }}\\n**Video Analyzed:** {{ $('Parse Issue Data').item.json.video_url }}\\n**Frames Analyzed:** {{ $json.frame_count }}\\n\\n### Results\\n- **AI Probability:** {{ Math.round($json.ai_probability * 100) }}%\\n- **Verdict:** {{ $json.verdict }}\\n- **Confidence:** {{ $json.confidence }}\\n- **Detection Score:** {{ $json.detailed_analysis.detection_score.toFixed(4) }}\\n\\n### Recommendation\\n{{ $json.ai_probability > 0.7 ? '✅ **Adding to blocklist** (threshold: 70%)' : $json.ai_probability > 0.5 ? '⚠️ **Adding to warnlist** (threshold: 50%)' : '❌ **Insufficient evidence** for AI detection (< 50%)' }}\\n\\n### Method\\n{{ $json.detailed_analysis.method }}\\n\\n{{ $json.detailed_analysis.description }}\\n\\n---\\n*Automated analysis by D3 detector. {{ $json.ai_probability > 0.5 ? 'Reviewing PR for approval...' : 'No PR will be created.' }}*"
      },
      "name": "Post Analysis Comment",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "githubOAuth2Api": {
          "id": "1",
          "name": "GitHub OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Determine which file to update based on AI probability\nconst channelHandle = $('Parse Issue Data').item.json.channel_handle;\nconst aiProb = $json.ai_probability;\nconst issueUrl = $('Parse Issue Data').item.json.issue_url;\nconst verdict = $json.verdict;\n\n// Skip PR creation if confidence too low\nif (aiProb < 0.5) {\n  return { skip: true, reason: 'AI probability below 50% threshold' };\n}\n\n// Validate channel handle\nif (!channelHandle || !channelHandle.startsWith('@')) {\n  return { skip: true, reason: 'Invalid channel handle format' };\n}\n\n// Determine target file and list type\nlet targetFile, listType;\nif (aiProb > 0.7) {\n  targetFile = 'AiSList/aislist_blocklist.txt';\n  listType = 'blocklist';\n} else if (aiProb > 0.5) {\n  targetFile = 'AiSList/aislist_warnlist.txt';\n  listType = 'warnlist';\n}\n\n// Generate branch name (safe for git)\nconst safeChannelName = channelHandle.replace('@', '').replace(/[^a-zA-Z0-9-]/g, '-');\nconst branchName = `ai-detection/add-${safeChannelName}`;\n\n// Generate PR title and body\nconst prTitle = `Add ${channelHandle} to ${listType}`;\nconst prBody = `## 🤖 Automated Channel Addition\\n\\n**Channel:** ${channelHandle}\\n**AI Probability:** ${Math.round(aiProb * 100)}%\\n**Verdict:** ${verdict}\\n**Analysis:** ${issueUrl}\\n\\n### Detection Details\\nThis PR was automatically generated based on AI detection analysis using the D3 (Detection by Difference of Differences) method.\\n\\n**Detection Score:** ${$json.detailed_analysis.detection_score.toFixed(4)}\\n**Temporal Inconsistency:** ${$json.detailed_analysis.temporal_inconsistency.toFixed(4)}\\n\\n### Action Required\\nPlease review the analysis in the linked issue before merging this PR.\\n\\n---\\n*Automated by n8n workflow | D3 Detector v1.0*`;\n\nreturn {\n  target_file: targetFile,\n  list_type: listType,\n  channel_handle: channelHandle,\n  branch_name: branchName,\n  pr_title: prTitle,\n  pr_body: prBody,\n  ai_probability: Math.round(aiProb * 100),\n  skip: false\n};"
      },
      "name": "Generate PR Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "name": "Check If PR Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "Override92",
        "repository": "AiSList",
        "filePath": "={{ $json.target_file }}",
        "asBinaryProperty": false
      },
      "name": "Get Current File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1650, 300],
      "credentials": {
        "githubOAuth2Api": {
          "id": "1",
          "name": "GitHub OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Append channel handle to file content\nconst currentContent = $json.content;\nconst channelHandle = $('Generate PR Content').item.json.channel_handle;\n\n// Decode base64 content\nconst decodedContent = Buffer.from(currentContent, 'base64').toString('utf-8');\n\n// Check if channel already exists\nif (decodedContent.includes(channelHandle)) {\n  return {\n    skip: true,\n    reason: `Channel ${channelHandle} already exists in the list`\n  };\n}\n\n// Append channel to end of file\nconst newContent = decodedContent.trim() + '\\n' + channelHandle + '\\n';\n\n// Encode back to base64\nconst encodedContent = Buffer.from(newContent).toString('base64');\n\nreturn {\n  new_content: encodedContent,\n  sha: $json.sha,\n  skip: false\n};"
      },
      "name": "Append Channel to File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "create",
        "owner": "Override92",
        "repository": "AiSList",
        "filePath": "={{ $('Generate PR Content').item.json.target_file }}",
        "fileContent": "={{ $json.new_content }}",
        "commitMessage": "Add {{ $('Generate PR Content').item.json.channel_handle }} to {{ $('Generate PR Content').item.json.list_type }}",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Generate PR Content').item.json.branch_name }}"
          }
        }
      },
      "name": "Create Branch and Commit",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2050, 300],
      "credentials": {
        "githubOAuth2Api": {
          "id": "1",
          "name": "GitHub OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "pullRequest",
        "operation": "create",
        "owner": "Override92",
        "repository": "AiSList",
        "title": "={{ $('Generate PR Content').item.json.pr_title }}",
        "body": "={{ $('Generate PR Content').item.json.pr_body }}",
        "head": "={{ $('Generate PR Content').item.json.branch_name }}",
        "base": "main"
      },
      "name": "Create Pull Request",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2250, 300],
      "credentials": {
        "githubOAuth2Api": {
          "id": "1",
          "name": "GitHub OAuth2 account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - GitHub Issues": {
      "main": [
        [
          {
            "node": "Filter - Only New AI Channel Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Only New AI Channel Reports": {
      "main": [
        [
          {
            "node": "Parse Issue Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Issue Data": {
      "main": [
        [
          {
            "node": "Call AI Detection API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI Detection API": {
      "main": [
        [
          {
            "node": "Post Analysis Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Analysis Comment": {
      "main": [
        [
          {
            "node": "Generate PR Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PR Content": {
      "main": [
        [
          {
            "node": "Check If PR Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If PR Needed": {
      "main": [
        [
          {
            "node": "Get Current File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current File": {
      "main": [
        [
          {
            "node": "Append Channel to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Channel to File": {
      "main": [
        [
          {
            "node": "Create Branch and Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch and Commit": {
      "main": [
        [
          {
            "node": "Create Pull Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "aislist-integration"
}
